/** Adds a scrollbar to the page permanently 
    Stops page from jankily shifting upon opening a Pokedex */
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.sprite {
  width: 150px;
}

.type-tag {
  width: 40px;
  padding-top: 5px;
}